form {
    label {
        display: block;
        color: rgb(var(--clr-base));
        font-weight: var(--fw-semi-bold);
    }

    .form-group {
        label {
            margin-bottom: .5rem;
            color: rgb(var(--clr-secondary));
            font: {
                size: var(--fs-xs);
                weight: var(--fw-regular);
            };
        }
    }

    .input-group {
        padding: var(--spacing-xxs) var(--spacing-xs);
        width: fit-content;
        border: 1px solid rgb(var(--clr-light-800));
        border-radius: .75rem;
    }

    input[type="number"] {
        padding: 0;
        border: none;
    }

    input[type="radio"] {
        color: rgb(var(--clr-base));
    }
}